.main {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
}

.player-side {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50%;
  width: 10%;
  background-color: #45BFB2;
}

.middle {
  width: 75%;
}

/* ~~~~~~ Board ~~~~~~~*/
.game-board {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 180px 180px 180px;
  align-content: center;
  justify-content: center;
}

.grid-item {
  border: 1px solid black;
  font-size: 6em
}
