.main {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.7em;
  font-family: "Noto Sans", sans-serif;
  color: #690370;
}

.player-side {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30%;
  width: 10%;
  background: linear-gradient(#45BFB2, #19718C);
  font-size: 1.2em;
}

.middle {
  width: 75%;
}

/* ~~~~~~ Board ~~~~~~~*/
.game-board {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 180px 180px 180px;
  align-content: center;
  justify-content: center;
}

.grid-item {
  border: 2px solid #270E82;
  font-size: 5em;
  box-shadow: 2px 2px;
}
